%clearfix{
	&:after,
	&:before{
		content: '';
		display: table;
		clear: both;
		line-height: 0;
	}
}

%cover{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

%truncate{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%no-select{
	cursor: default;
	user-select: none;
	pointer-events: none;
}

%fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}