$color-black-primary: rgba(17,17,17,1);
$color-black-secondary: rgba(51,51,51,1);

$color-turquoise-primary: rgba(26,188,156,1);
$color-turquoise-secondary: rgba(26,188,156,1);

$color-green-primary: rgba(46,204,113,1);
$color-green-secondary: rgba(39,174,96,1);

$color-blue-primary: rgba(52,152,219,1);
$color-blue-secondary: rgba(41,128,185,1);

$color-purple-primary: rgba(155,89,182,1);
$color-purple-secondary: rgba(142,68,173,1);

$color-midnight-primary: rgba(52,73,94,1);
$color-midnight-secondary: rgba(52,73,94,1);

$color-yellow-primary: rgba(241,196,15,1);
$color-yellow-secondary: rgba(241,196,15,1);

$color-orange-primary: rgba(230,126,34,1);
$color-orange-secondary: rgba(211,84,0,1);

$color-red-primary: rgba(231,76,60,1);
$color-red-secondary: rgba(192,57,43,1);

$color-ivory-primary: rgba(236,240,241,1);
$color-ivory-secondary: rgba(189,195,199,1);

$color-grey-primary: rgba(149,165,166,1);
$color-grey-secondary: rgba(127,140,141,1);